
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body{
  height: 100%;
  display: grid;
  justify-content: space-between;
  place-items: center;
  text-align: center;

}

.container{
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: auto;
  margin-top: 100px;
  flex-wrap: wrap;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card{
  height: 700px;
  max-width: 500px;
  min-width: 500px;
  font-family: roboto;
  border-radius: 18px;
  background: white;
  text-align: center;
  margin: 0 10px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  transition: 0.5s ease;
  cursor: pointer;
}
.img{
  margin: 0 auto;
  border-top-left-radius: 15px!important;
  border-top-right-radius: 15px;

}
.card .img{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin:0 auto;
  height: 95%;
  width: 100%;
}
.card:hover{
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

@media screen and (max-width: 650px){
  .container{
    flex-wrap: wrap;

  }
  .card{
    max-width: 400px;

    margin: 20px 0;
  }

}

@media screen and (max-width: 500px){

  .card{
    flex-wrap: wrap;
    width: 40%;
    height: 40%;
    margin: 20px 0;
  }
  .card .img{
    width: 40%;

  }
  .card.top-text{
    font-size: 5px;
    width: 40%;
  }
}

.card .img img{
  height: 100%;
  border-top-left-radius: 15px!important;
  border-top-right-radius: 15px;
  width: 100%;
  object-fit: cover;
}

.card .top-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 7px;
  color: #1256b0;
  height: auto;
  font-weight: 600;
  font-size: 18px;
}

.search__container{
      padding-top: 64px;
      max-width: 1040px;
      margin: auto;

  }

.search__title {

      font-size: 22px;
      font-weight: 900;
      text-align: center;

  }

.search__input {
      width: 100%;
      padding: 12px 24px;
      opacity: 10;

      transition: transform 250ms ease-in-out;
      font-size: 14px;
      line-height: 18px;
      font-family: 'Raleway', sans-serif;
      background-color: transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 95% center;
      border-radius: 50px;
      border: 1px solid #575756;
      transition: all 250ms ease-in-out;
      backface-visibility: hidden;
      transform-style: preserve-3d;
  }
   ::placeholder {

        opacity: 10;
        color:darkslategray;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }


      .search__input:hover,.search__input:focus {
        padding: 12px 0;
        outline: none;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }



