.card {

  display: grid;
  grid-template-columns: 500;
  grid-template-rows: auto auto 60px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 18px;
  background-color: white;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
}

.card-image {

  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.card-image img{
  height: 100%;
  width: 100%;
}

.forma{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 455px;
  margin:auto;
  margin-top: 10px;
  text-align: center;
}
.textChange{
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-primary {

  text-align: left;
position: fixed;
bottom: 0;
left:0;


  -webkit-appearance:  none;
  width:  auto;
  min-width:  100px;
  border-radius:  24px;
  text-align:  center;
  padding:  15px 40px;
  margin-bottom:  5px;
  background-color:  #ff4081;
  color:  #fff;
  font-weight: 530;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  margin-left: 5px;
  box-shadow:  0px 2px 6px -1px rgba(0,0,0,.13);
  border:  none;
  transition:  all .3s ease;
  outline: 0;
}

@media screen and (max-width: 650px){

  .card{
    justify-content: center;
    width: 300px;
    margin: 0 auto!important;
    margin-top: 10px!important;
    grid-template-columns: 300px;
    grid-template-rows: 200px 330px 60px;
    margin: 20px 0;
  }
  iframe{
    width: 300px;
    height: 200px;
  }

  .forma{
    width: 260px;

  }
  .textChange{
    width: 250px;
  }


}

.card-text {
  grid-area: text;
  margin: 15px;
}

.card-text p {
  color: grey;
  font-size:15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top:0px;
  font-size:28px;
}

.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(255, 7, 110);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding:10px;
}


.button {
  background-color: Rgba(255, 255, 255, 0.5) !important;
  color: #008CBA;
  width: 100px;
  font-weight: 530;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid #008CBA;
}

.button:hover {
  color: white;
  background-color: #008CBA!important;
}

.button {
  background-color: Rgba(255, 255, 255, 0.5) !important;
  color: rgb(255, 7, 110);
  width: 100px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 530;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid rgb(255, 7, 110);;
}

.button:hover {
  color: white;
  background-color: rgb(255, 7, 110)!important;
}
